/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    text-align: center;
    margin: 50px;    
}
#title{
    color: rgb(255, 0, 128);
}
#top-text{
    margin: 50px;
}

/* CARD */

.container{
    max-width: 350px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 20px;
    
}
.float-left{
    float: left;
    height: 10px ;
    display: inline-block;
}
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

img{
    height: 90px;
}

/* text */

.text{
    padding: 10px;
    display: inline-block;
    
}
.name, .role{
    color: white;
    margin: 4px auto;
}
.email{
    color: rgb(0, 187, 255);
    margin: 2px auto;
}
.skinny{
    font-size: 15px;
}